peft
transformers==4.57.3
thefuzz
tyro
stable-baselines3
minigrid
crafter
torch>=2.1.0
torchvision>=0.16.0
numpy<2
stable-baselines3==2.1.0 
gymnasium==0.29.1
accelerate>=0.26.0 
bitsandbytes>=0.43.0 
scipy
wandb
tensorboard
moviepy
peft
simple_gpu_scheduler